.parent-container-box-about-page {
  padding-right: 15px;
  padding-left: 15px;
}
.container-box-about-page {
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  padding: 0px 15px;
  background-color: rgb(255, 255, 255);
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
  height: 628px;
  position: relative;
}
.right-box,
.left-box {
  width: 50%;
}
.li-title-head {
  font-size: 15px;
  margin-top: 10px;
  color: #2585fc;
}
.ul-contact-us {
  font-size: 14px;
  text-align: right;
  list-style-type: none;
  padding-right: 20px;
}
.bb6473 {
  color: blue;
}
.text-right-box {
  text-align: right;
  font-size: 13px;
  margin-top: 25px;
}
.image-map-about-wage {
  max-width: 100%;
}
.col-lg-7 {
  margin-top: 25px;
}
.btn-back-to-page-home {
  position: absolute;
  top: 93%;
  right: 3%;
}
.btn-back {
  font-size: 15px;
  color: blue;
}

@media only screen and (max-width: 878px) {
  .container-box-about-page {
    height: 653px;
  }
}
@media (max-width: 768px) {
  * {
    font-size: 13px;
  }
}

@media only screen and (max-width: 689px) {
  .container-box-about-page {
    height: 679px;
  }
}
@media only screen and (max-width: 600px) {
  .container-box-about-page {
    height: auto;
  }
  .container-box-about-page {
    flex-direction: column-reverse;
  }
  .right-box,
  .left-box {
    width: 100%;
  }
  .btn-back-to-page-home {
    position: absolute;
    top: 97%;
    right: 10%;
  }
  .ul-contact-us {
    font-size: 14px;
    text-align: right;
    list-style-type: none;
    padding-right: 20px;
    margin-bottom: 30px;
  }
}
