.main-navbar-2 {
  padding: 20px 30px 15px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-menu-hide-2 {
  position: absolute;
  margin-top: 64px;
  width: 328px;
  height: 645px;
  background-color: #fff;
  top: 1px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 28%);
  z-index: 11;
  right: 4px;
}
.row-5-menu-hide-2,
.row-4-menu-hide-2,
.row-3-menu-hide-2,
.row-2-menu-hide-2,
.row-1-menu-hide-2 {
  display: flex;
  justify-content: space-around;
  padding: 0px 6px;
  padding-top: 11px;
}
.row-1-menu-hide-2 {
  padding-top: 27px;
}
.container-order-2,
.container-profile-2,
.container-home-2,
.container-price-2,
.container-bitgap-2,
.container-Identity-2,
.container-wallet-2,
.container-Notifications-2,
.container-Wage-2,
.container-DirectionWage-2,
.container-comment-2,
.container-question-2,
.container-opportunity-2,
.container-bag-2,
.container-Relationship-2,
.container-about-2 {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row-6-menu-hide-2 {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0px 19px;
  padding-top: 12px;
}
.btn-login-2 {
  color: #fff !important;
  font-size: 12px;
  padding: 7.6px 22.5px;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
  background: #2585ff !important;
  border-color: #2585ff !important;
  border: 1px solid;
  outline: none;
  margin-top: -9px;
}
.parent-btn-login-2 {
  margin-top: -5px;
}
@media screen and (max-width: 786px) {
  .main-navbar-2 {
    padding: 25px 6px 15px !important;
  }
}
@media screen and (max-width: 576px) {
  .btn-login-2 {
    padding: 7.5px 21px;
  }
}
a {
  color: black;
  font-size: 12px;
  text-decoration: none;
}
