.container-main {
  margin-top: 111px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-mid-bitbarg {
  width: 272px;
  margin-bottom: 9px;
}
.logo-mid-bitbarg {
  width: 272px;
  margin-bottom: 9px;
}
.cont-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent-inputs {
  padding: 0 2px 0 0;
}

.left {
  position: relative;
}
.absolute-select-curency {
  position: absolute;
}
.inputs-main {
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #fff;
  padding: 5% 2.1rem;
  margin-top: -4px;
}
.absolute-select-curency {
  position: absolute;
  top: -15px;
  left: 15px;
  font-size: 10px;
  background-color: #fff;
  padding: 3px;
}
.absolute-number-curency {
  position: absolute;
  font-size: 10px;
  background-color: #fff;
  padding: 3px;
  top: -15px;
  left: 15px;
}
.text-btn-buy {
  text-shadow: 0 1px 5px rgb(0 0 0 / 70%);
}
.absolute-price-curency {
  position: absolute;
  top: -15px;
  font-size: 10px;
  background-color: #fff;
  padding: 3px;
  left: 15px;
}
.center {
  position: relative;
}

.right {
  position: relative;
}
.action-container {
  text-align: center;
  margin-top: 10px;
}
.container-btn-buy-sell {
  padding: 0;
  display: flex;
  justify-content: center;
}
.btn-sell {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  font-size: 12px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  width: 155px;
  outline: none;
}
.btn-buy {
  background-color: #2585fd;
  border: 1px solid #2585fd;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  width: 155px;
  outline: none;
}
.container-time-work {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time-work-1 {
  position: relative;
  text-align: center;
  margin-top: 7px;
  font-size: 14px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgb(0 0 0 / 10%);
}
.time-work-2 {
  text-align: center;
  margin-top: -11px;
  font-size: 14px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgb(0 0 0 / 10%);
}
.number-phone {
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: #2485fd;
  margin-top: -2px;
}
.h-6 {
  width: 39px;
  margin-right: 5px;
  margin-top: -6px;
  position: relative;
}

.image-support-fix {
  width: 60px;
  border-radius: 100%;
}
.container-support-fix {
  left: 15px;
  bottom: 26px;
  position: fixed;
}
@media screen and (max-width: 1200px) {
  .inputs-main {
    padding: 6% 1rem;
  }
}
@media screen and (max-width: 990px) {
  .inputs-main {
    padding: 5.2% 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  .container-main {
    margin-top: 45px;
  }
  .logo-mid-bitbarg {
    width: 200px;
    margin-bottom: 9px;
  }
  .inputs-main {
    padding: 11px 0px;
  }
}
@media screen and (max-width: 576px) {
  .container-main {
    margin-top: 45px;
  }
  .logo-mid-bitbarg {
    width: 200px;
    margin-bottom: 9px;
  }
  .inputs-main {
    padding: 11px 17px;
  }
  .btn-buy {
    margin: 9px 4px;
  }
  .btn-sell {
    margin: 9px 4px;
  }
  .time-work-1 {
    margin-top: 11px;
  }
  .inputs-main {
    padding: 11px 3%;
  }
  .parent-inputs {
    padding: 0px 10.8px 0 0;
  }
}
@media screen and (max-width: 380px) {
  .container-main {
    margin-top: 45px;
  }
  .logo-mid-bitbarg {
    width: 200px;
    margin-bottom: 9px;
  }

  .btn-buy {
    margin: 9px 4px;
  }
  .btn-sell {
    margin: 9px 4px;
  }
  .time-work-1 {
    margin-top: 11px;
  }
  .inputs-main {
    padding: 11px 3%;
  }
  .parent-inputs {
    padding: 0px 13px 0 0;
    width: 30%;
  }
  .inputs-main {
    padding: 11px 3%;
    width: 103%;
  }
  .cont-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 1%;
  }
  .btn-buy {
    width: 142px;
  }
}
@media screen and (max-width: 576px) {
  .inputs-main {
    padding: 11px 2.5%;
    width: 100%;
  }
  .cont-inputs  {
    display: flex;
    align-items: center;
    margin: 0px 5%;
  }
  .btn-buy {
    width: 142px;
  }
}
@media screen and (max-width: 480px) {
  .container-main {
    margin-top: 45px;
  }
  .logo-mid-bitbarg {
    width: 200px;
    margin-bottom: 9px;
  }

  .btn-buy {
    margin: 9px 4px;
  }
  .btn-sell {
    margin: 9px 4px;
  }
  .time-work-1 {
    margin-top: 11px;
  }
  .inputs-main {
    padding: 11px 3%;
  }
  .parent-inputs {
    padding: 0px 13px 0 0;
    width: 30%;
  }
  .inputs-main {
    padding: 11px 3%;
    width: 100%;
  }
  .cont-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 1%;
  }
  .btn-buy {
    width: 142px;
  }
}
