.container-question-page {
  background-color: #f2f7f7;
  background-color: white;
}
.colapse-hide {
  background-color: white;
  color: black;
  border: none;
  position: relative;
  width: 100%;
  text-align: end;
  font-size: 17px;
  border-radius: 0.5rem;
  padding: 1rem 2.3rem 0.8rem 1rem;
  cursor: pointer;
  margin: 0 0 0.7rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 25%);
}
.container-colapse-1 {
  background-color: white;
}
.title-blue-header-text-2 {
  padding: 14px 20px;
  margin-top: 0px;
  background: #3590ff;
  direction: rtl;
  color: white;
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 0px;
}
.hide-side-features {
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 25%);
}
.parent-container-colapse-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 17px;
  height: 55px;
}
.container-colapse-1 {
  background-color: white;
  width: 50%;
  height: 100%;
}
.btn-colapse-1-1 {
  font-size: 14px;
  margin-right: 7%;
  margin-top: 14px;
}
.btn-colapse-1-2 {
  font-size: 14px;
  margin-right: 7%;
  margin-top: 14px;
}

.dis-hide-colapse-1-1 {
  font-size: 12px;
  margin-right: 78px;
}
.dis-hide-colapse-1-2 {
  font-size: 11px;
  font-size: 14px;
  margin-right: 7%;
}
