.cart-login{
    margin-left: auto;
    margin-right: auto;
    padding: 40px 25px 50px 25px;
    width: 400px;
    height: 346px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 16%);
    margin-top: -9px;
}
.text-login {
    color: #333;
    margin-top: 7px;
    text-align: center;
    font-size: 14px;
    direction: rtl;
    margin-bottom: 10px;
}
.container-inputs-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
    margin-right: 20px;
}
.cont-btn-ligin {
    width: 272px;
    height: 35px;
    margin: 0px;
    padding: 0px;
    margin-top: 23px;
}
.btn-next-login {
    color: #fff!important;
    font-size: 14px;
    padding: 7.9px 22.5px;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px;
    background: #2585ff!important;
    border-color: #2585ff!important;
    border: 1px solid;
    outline: none;
    margin-top: -9px;
    width: 100%;
    letter-spacing: 0px;
    font-weight: 400;
    outline: none;
    margin-top: -5px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.cont-input{
    width: 272px;
    height: 36px;
}
.input-login {
    font-size: 16px;
    padding: 6.5px 50.5px;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid;
    outline: none;
    margin-top: -9px;
    text-align: center;
    border: 1px solid #aaa;
}
::placeholder {
    color: rgba(97, 96, 96, 0.6);
}
.cont-input{
    position: relative;

}
.absolute-input-log-in {
    position: absolute;
    top: -18px;
    right: -1px;
    font-size: 9.8px;
    background-color: #fff;
    padding: 3px;
    color: rgba(0,0,0,.6);
}
@media screen and (max-width: 767px) {

    .cart-login {
        box-shadow: 0 2px 7px 0 rgb(0 0 0 / 0%);

    }
    .input-login {
        padding: 6.5px 68.5px;
    }
    .cont-input {
        width: 308px;
        height: 36px;
    }
    .cont-btn-ligin {
        width: 308px;
    }
}
@media screen and (max-width: 576px) {
    .cart-login {
        padding: 0px 25px 50px 25px;
    }
    .container-input-login{
        width: 95%;
    }
}