@font-face {
  font-family: myFirstFont;
  src: url(./components/statics/fonts/IRANSansWeb\(FaNum\).woff2);
}
* {
  font-family: "myFirstFont";
}

@keyframe flash {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translate(0px, 120px);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }
}
* {
  outline: none;
}
.transform-text {
  width: 20px;
  height: 120px;
  background-color: white;
  animation: blinker 6s infinite;
  opacity: 70%;
}

@keyframes blinker {
  0% {
    transform: translate(-40px, 0px);
  }
  80% {
    transform: translate(-40px, 0px);
  }
  100% {
    transform: translate(190px, 0px);
  }
}
#icon-menu {
  margin-top: -3px;
  margin-right: 5px;
  color: gray;
}

.parent {
  position: fixed;
  left: -15px;
  bottom: 53px;
  width: 120px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mehdi {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 100%;
}
.golabi {
  animation: blow 2.5s infinite;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .container-support-fix {
    left: 15px;
    bottom: 0px;
    position: fixed;
  }
}
.circle {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #ff6242;
  animation: animate 1800ms infinite;
}
@keyframes animate {
  0% {
    box-shadow: #437dd3 0 0 0 0;
  }
  75% {
    box-shadow: #fff 0 0 0 16px;
  }
}
