@font-face {
  font-family: myFirstFont;
  src: url(./components/statics/fonts/IRANSansWeb\(FaNum\).woff2);
}
*{
  font-family:"myFirstFont" ;
}
.main-navbar {
  padding: 15px 30px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
}
.main-navbar-container{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.btn-login {
  color: #fff!important;
  font-size: 12px;
  padding: 7.6px 22.5px;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
  background: #2585ff!important;
  border-color: #2585ff!important;
  border: 1px solid;
  outline: none;
}
.h-6 {
  width: 39px;
  margin-right: 5px;
  margin-top: -6px;
}
.container-main {
    margin-top: 120px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-mid-bitbarg {
  width: 272px;
  margin-bottom: 9px;
}
.cont-inputs{
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent-inputs{
  padding: 0 2px 0 0;

}
.inputs-main {
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #fff;
  padding: 11px 33px;
  margin-top: -4px;
}

.absolute-select-curency{
  position: absolute;
}
.absolute-select-curency {
  position: absolute;
  top: -15px;
  left: 15px;
  font-size: 10px;
  background-color: #fff;
  padding: 3px;
}
.absolute-number-curency {
  position: absolute;
  font-size: 10px;
  background-color: #fff;
  padding: 3px;
  top: -15px;
  left: 15px;
}
.absolute-price-curency {
  position: absolute;
  top: -15px;
  font-size: 10px;
  background-color: #fff;
  padding: 3px;
  left: 15px;
}
.action-container{
text-align: center;
margin-top: 10px;
}

.container-btn-buy-sell{
padding: 0;
display: flex;
justify-content: center;
}
.btn-buy {
  background-color: #2585fd;
  border: 1px solid #2585fd;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  width: 155px;
  outline: none;
}    
.btn-sell{
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  font-size: 12px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  width: 155px;
  outline: none;
}
.time-work-1 {
  text-align: center;
  margin-top: 7px;
  font-size: 14px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgb(0 0 0 / 10%);
}
.time-work-2 {
  text-align: center;
  margin-top: -11px;
  font-size: 14px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgb(0 0 0 / 10%);
}

.number-phone {
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: #2485fd;
  margin-top: -2px;
}
.container-time-work{
  display: flex;
flex-direction: column;
align-items: center;
}
.image-support-fix{
width: 60px;
border-radius: 100%;
}
.container-support-fix{
  left: 15px;
  bottom: 26px;
  position: fixed;
}
.center{
  position: relative;
}
.left{
  position: relative;
}
.right{
  position: relative;
}
.h-6{
  position: relative;
}
.container-menu-hide {
  position: absolute;
  margin-top: 64px;
  width: 328px;
  height: 645px;
  background-color: #fff;
  top: 1px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 28%);
  z-index: 11;
}
#icon-menu{
  margin-top: -3px;
    margin-right: 7px;
    color: gray;
}
.row-5-menu-hide,.row-4-menu-hide,
.row-3-menu-hide,.row-2-menu-hide,.row-1-menu-hide{
display: flex;
justify-content: space-around;
padding: 0px 6px;
padding-top: 11px;}
.row-6-menu-hide {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0px 19px;
  padding-top: 12px;
}
.row-1-menu-hide{
  padding-top: 27px;
}


.container-order,.container-profile,.container-home,.container-price,.container-bitgap,.container-Identity,
.container-wallet,.container-Notifications,.container-Wage,.container-DirectionWage,.container-comment,.container-question
,.container-opportunity,.container-bag,.container-Relationship,.container-about
{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-order :hover{
  background: rgba(26,115,232,.04);
  background-color: rgba(26,115,232,.04);
  border-radius: 8px;
  border-color: transparent;
}

@media screen and (max-width: 1200px) {
  .inputs-main {
    padding: 11px 16px;
}

}
@media screen and (max-width: 990px) {
  .inputs-main {
    padding: 11px 22px;
}

}
@media screen and (max-width: 786px) {
  .main-navbar {
    padding: 15px 10px;
}

}
@media screen and (max-width: 768px) {
  .container-main {
    margin-top: 55px;
}
.logo-mid-bitbarg {
  width: 200px;
  margin-bottom: 9px;
}
.inputs-main {
  padding: 11px 0px;
}

}
@media screen and (max-width: 576px) {
  .container-main {
    margin-top: 55px;
}
.logo-mid-bitbarg {
  width: 200px;
  margin-bottom: 9px;
}
.inputs-main {
  padding: 11px 17px;
}
.btn-login {
  padding: 7.5px 21px;
}
.btn-buy {
  margin: 9px 4px;
}
.btn-sell {
  margin: 9px 4px;
}
.time-work-1 {
  margin-top: 11px;
}
.inputs-main {
  padding: 11px 4.5px;
}
.parent-inputs {
  padding: 0 2px 0 0;
}
.container-support-fix {
  left: 15px;
  bottom: 0px;
  position: fixed;
}
}