@font-face {
  font-family: myFirstFont;
  src: url(./components/statics/fonts/IRANSansWeb\(FaNum\).woff2);
}
* {
  font-family: "myFirstFont";
}

@keyframe flash {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translate(0px, 120px);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }
}
* {
  outline: none;
}
.transform-text {
  width: 20px;
  height: 120px;
  background-color: white;
  /* filter : blur(5px); */
  animation: blinker 6s infinite;
  opacity: 70%;
}

@keyframes blinker {
  0% {
    transform: translate(-40px, 0px);
  }
  80% {
    transform: translate(-40px, 0px);
  }
  100% {
    transform: translate(190px, 0px);
  }
}
#icon-menu {
  margin-top: -3px;
  margin-right: 5px;
  color: gray;
}

@media screen and (max-width: 576px) {
  .container-support-fix {
    left: 15px;
    bottom: 0px;
    position: fixed;
  }
}
