.bitheader-header {
  width: 72px;
  margin-top: 6px;
}
.main-navbar-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin-top: -5px;
}
.main-navbar {
  padding: 25px 30px;
  text-align: right;
  display: flex;
  align-items: center;
  padding-bottom: 0px;
  justify-content: end;
}
.title-blue-header-text {
  padding: 14px 20px;
  margin-top: 15px;
  background: #3590ff;
  direction: rtl;
  color: white;
  font-weight: 100;
  font-size: 18px;
}
.parent-container-list-wage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -12px;
}
.container-list-wage {
  position: relative;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  width: 100%;
  height: 100%;
  max-width: 1265px;
}
.container-inputs-search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
  margin: 10px 10px 0px 10px;
}
.btn-search {
  color: #fff;
  font-size: 12px;
  padding: 6px 14px;
  padding-top: 7px;
  text-decoration: none;
  font-weight: 700;
  margin: 0 10px;
  border-radius: 5px;
  background: #2585ff;
  border-color: #2585ff;
  border: 1px solid;
  outline: none;
  position: relative;
}
.container-input-search {
  box-sizing: border-box;
  min-width: 0;
  display: inline-flex;
  position: relative;
  height: 32px;
  align-items: center;
  line-height: 1.6;
  border: 1px solid #e6e8ea;
  border-radius: 4px;
  padding-left: 40px;
  margin: 0;
  width: 245px;
}
.input-search {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.43;
  font-size: 11px;
  outline: 0;
  border: 0;
  font-weight: bolder;
  color: #afafaf;
  width: 100%;
}
.Searchicon {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: #848e9c;
  font-size: 22px;
  fill: #848e9c;
  vertical-align: middle;
  width: 1em;
  margin-left: -28px;
  height: 1em;
}
.warning-wage {
  font-size: 13px;
  text-align: end;
}
.p-warning-wage {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 6px;
  margin-right: 10px;
  color: #8c8686;
}

.p-2-warning-wage {
  font-size: 12px;
  color: #2485ff;
  border-bottom: 1px dashed;
  margin-left: 2px;
}
.css-1wy2bti {
  margin: 0;
  min-width: 0;
  display: flex;
  padding-left: 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #eaecef;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fafafa;
  margin-top: -15px;
}
.number-td {
  max-width: 8%;
  flex: 0 1 8%;
  text-align: center;
  color: #afafaf;
}
.css-1i04fkn {
  font-size: 12px;
  transition: 0.4s;
}
.css-1i04fkn {
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-height: 16px;
}
.css-1l4iui8 {
  padding-right: 36px;
}
.name-td {
  max-width: 36%;
  flex: 1 1 45%;
  display: flex;
  align-items: center;
  margin-left: 103px;
}
.css-1i04fkn {
  font-size: 12px;
  transition: 0.4s;
}
.buy-price-td {
  max-width: 38%;
  flex: 1 1 30%;
}
.sell-price-td {
  text-align: center;
}
.sell-price-td {
  max-width: 20%;
  flex: 1 1 20%;
}

.name-corency-in-list-wage {
  width: 472px;
}

.sharp-header-list-wage {
  margin-left: 46px;
}
.css-ahynou {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.d-flex {
  color: #333;
  display: flex;
  align-items: center;
}
.image-curency {
  width: 40px;
  height: 40px;
  margin-left: 0.5rem;
}
.buy-price-td {
  display: flex;
  flex-direction: column;
}
.searchablea {
  font-size: 10px;
  color: #999;
  text-align: right;
  margin-top: 8px;
}
.firs-name-curency {
  overflow: hidden;
  width: 0px;
  height: 0px;
  display: block;
}
.unit-type-free {
  color: #32a953;
  font-size: 10px;
  margin-left: 25px;
}
.price-wage {
  display: inline-block;
}
.container-firs-name-curency {
  display: flex;
  flex-direction: column;
}
.unit-type-2 {
  font-size: 11px;
  color: #999 !important;
}

.number-td-2 {
  max-width: 1%;
  flex: 0 1 8%;
  text-align: center;
  color: #afafaf;
  margin-right: 45px;
}
.name-td-2 {
  max-width: 28%;
  flex: 1 1 45%;
  display: flex;
  align-items: center;
  margin-left: 97px;
  margin-right: 44px;
}
.searchable {
  font-size: 14px;
  margin-bottom: -3px;
  color: black;
}
.css-4cffwv {
  width: 100%;
  direction: rtl;
  margin-top: 9px;
  border-bottom: 1px solid;
  border-color: #eaecef;
  padding-bottom: 10px;
}
.pagenation-1 {
  cursor: pointer;
  padding-right: 10px;
  font-size: 13px;
  color: #338af1;
}
.pagenation-2 {
  cursor: pointer;
  font-size: 13px;
  color: #338af1;
}
.parent-pagenation {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}
.wage-sell {
  font-size: 12px;
  margin-left: 6%;
}
.wage-buy {
  font-size: 12px;
}
.curency {
  font-size: 12px;
  color: black;
}
.sharplogo-header-wage {
  font-size: 12px;
  max-width: 1%;
  flex: 0 1 8%;
  text-align: center;
  color: #afafaf;
  margin-right: 45px;
}

.css-ahynou-header {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #eaecef;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fafafa;
}
.sell-price-td {
  max-width: 4.2%;
  flex: 1 1 20%;
}
.name-td-3 {
  max-width: 27%;
  flex: 1 1 45%;
  display: flex;
  align-items: center;
  padding-left: 34%;
}
@media only screen and (max-width: 985px) {
  .css-1wy2bti {
    margin-top: 16px;
  }
}

.sell-price-td-2 {
  width: 17.2%;
  display: flex;
  justify-content: center;
  padding-right: 14%;
}
